.Button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 12px;
  text-decoration: none;
}

.Button:hover {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
}
